{% extends 'base.html.twig' %}

{% block title %}Modification de mot de passe{% endblock %}

{% block body %}

    <div class="container clearfix">
        <div class="alert alert-light">
            <h1 class="my-5">Modification du mot de passe</h1>
            <div class="row">
            <div class="col-md-3">&nbsp;</div>

                <div class="col-md-6">
                    <div class="bg-light py-3 px-3">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary btn lg float-left mt-2">
                    <i class="fas fa-check"></i>
                    Modifier le mot de passe
            </button>
            {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}